#container01 {
   position: absolute;
	top: 90px;
	left: 0px;
	width: 900px;
	height: 550px;
}
#container01-1 {
    width: 821px;
    height: 181px;
    background: url(../image/search/container01-1.png) 0 0 no-repeat;

}
#container01-1-left {
    float: left;
    width: 183px;
    height: 181px;
    background: url(../image/search/container01-1-left.png) 0 0 no-repeat;
}
#container01-1-left-top-banner {
	width: 183px;
	height: 27px;
}
#container01-1-left-top-pic {
	width: 183px;
	height: 100%;
	padding-left: 44px;

}
#container01-1-right {
    float: left;
    width: 638px;
    height: 181px;
}
#container01-1-right-top {
    width: 638px;
    height: 40px;
	margin-top: 30px;
	margin-left: 22px;
	font-size: 1.38em;
	font-family: "新宋体";
	color:#02ffff;letter-spacing: 0.3px;
}
.container01-1-right-bottom {
    width: 585px;
    height: 68px;
	margin-top: 2px;
	margin-left: 5px;
	font-size: 18.2px;
	color:#02ffff;
	font-family: "新宋体";
	letter-spacing: 0.8px;            /* 1.1px  */
	line-height: 180%;
	overflow: hidden;
}

.container01-1-right-bottom p{
    margin-top: -2px;
}

#container01-empty1 {
    width: 821px;
    height: 20px;
}
#container01-empty2 {
    width: 821px;
    height: 21px;
}

