<!DOCTYPE html><head>
    <meta charset="utf-8">
    <title>搜索页面显示结果</title>
</head>

<link rel="stylesheet" type="text/css" href="../static/css/display.css" />
<link rel="stylesheet" type="text/css" href="../static/css/default.css">
<link rel="stylesheet" type="text/css" href="../static/css/search.css">
<script src="../static/script/jquery-2.1.4/jquery.min.js"></script>


<body>

     <div id="container01">

         {% if list_user.1 %}
         <div id="container01-1">
            <div id="container01-1-left">
            <div id="container01-1-left-top-banner"></div>
            <div id="container01-1-left-top-pic">
            <img src="../static/image/user_circle/{{ list_user.1.uid }}.png" width="115" height="116" />
            </div>
            </div>
            <div id="container01-1-right">
                <div id="container01-1-right-top"><a href="" data-modal="#modal1" class="modal__trigger">{{ list_user.1.username }}</a></div>
                <div class="container01-1-right-bottom"><p>&nbsp;{{ list_user.1.source }}:{{ list_user.1.content }}</p></div>
            </div>
         </div>
         {% endif %}
         <div id="container01-empty1"></div>

        {% if list_user.2 %}
         <div id="container01-1">
            <div id="container01-1-left">
            <div id="container01-1-left-top-banner"></div>
            <div id="container01-1-left-top-pic">
            <img src="../static/image/user_circle/{{ list_user.2.uid }}.png" width="115" height="116" />
            </div>
            </div>
            <div id="container01-1-right">
                <div id="container01-1-right-top"><a href="" data-modal="#modal2" class="modal__trigger">{{ list_user.2.username }}</a></div>
                <div class="container01-1-right-bottom"><p>&nbsp;{{ list_user.2.source }}:{{ list_user.2.content }}</p></div>
            </div>
         </div>
         {% endif %}
         <div id="container01-empty2"></div>

         {% if list_user.3 %}
         <div id="container01-1">
            <div id="container01-1-left">
            <div id="container01-1-left-top-banner"></div>
            <div id="container01-1-left-top-pic">
            <img src="../static/image/user_circle/{{ list_user.3.uid }}.png" width="115" height="116" />
            </div>
            </div>
            <div id="container01-1-right">
                <div id="container01-1-right-top"><a href="" data-modal="#modal3" class="modal__trigger">{{ list_user.3.username }}</a></div>
                <div class="container01-1-right-bottom"><p>&nbsp;{{ list_user.3.source }}:{{ list_user.3.content }}</p></div>
            </div>
         </div>
         {% endif %}


     </div>

     <!-- Modal -->
		<div id="modal1" class="modal modal__bg" role="dialog" aria-hidden="true">
			<div class="modal__dialog">
				<div class="modal__content">
					<h1>{{ list_user.1.username }}</h1>
					<p>{{ list_user.1.content }}</p>

					<!-- modal close button -->
					<a href="" class="modal__close demo-close">
						<svg class="" viewBox="0 0 24 24"><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/><path d="M0 0h24v24h-24z" fill="none"/></svg>
					</a>

				</div>
			</div>
		</div>

        <div id="modal2" class="modal modal__bg" role="dialog" aria-hidden="true">
			<div class="modal__dialog">
				<div class="modal__content">
					<h1>{{ list_user.2.username }}</h1>
					<p>{{ list_user.2.content }}</p>

					<!-- modal close button -->
					<a href="" class="modal__close demo-close">
						<svg class="" viewBox="0 0 24 24"><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/><path d="M0 0h24v24h-24z" fill="none"/></svg>
					</a>

				</div>
			</div>
		</div>




        <div id="modal3" class="modal modal__bg" role="dialog" aria-hidden="true">
			<div class="modal__dialog">
				<div class="modal__content">
					<h1>{{ list_user.3.username }}</h1>
					<p>{{ list_user.3.content }}</p>

					<!-- modal close button -->
					<a href="" class="modal__close demo-close">
						<svg class="" viewBox="0 0 24 24"><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/><path d="M0 0h24v24h-24z" fill="none"/></svg>
					</a>

				</div>
			</div>
		</div>



<script src="../static/script/modal.js" type="text/javascript"></script>


<script type="text/javascript">
$(document).ready(function(){
//限制字符个数
$(".container01-1-right-bottom").each(function(){
    var max_width=55;
        if($(this).text().length>max_width){
            $(this).text($(this).text().substring(0,max_width));
            $(this).html($(this).html()+'…');
        }
        });
    });
</script>



</body>
